

// bower:sass
@import "../../bower_components/inuit-defaults/settings.defaults"

$inuit-base-text-color: #4A4A4A

@import "../../bower_components/inuit-functions/tools.functions"
@import "../../bower_components/inuit-mixins/tools.mixins"

@import "../../bower_components/inuit-normalize/generic.normalize"
@import "../../bower_components/inuit-reset/generic.reset"
@import "../../bower_components/inuit-box-sizing/generic.box-sizing"

@import "../../bower_components/inuit-page/base.page"
@import "../../bower_components/inuit-headings/base.headings"
// endbower


$brand-color: #4A90E2

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr
  margin-bottom: 1.5rem

h1, .#{$inuit-namespace}alpha, h2, .#{$inuit-namespace}beta, h3, .#{$inuit-namespace}gamma
  font-family: 'Gotham HTF', 'Helvetica Neue', Helvetica, Arial, sans-serif
  letter-spacing: -.05rem
  font-weight: 800
  line-height: 1

body
  font-family: 'Brandon Text', 'Helvetica Neue', Helvetica, Arial, sans-serif

.header
  padding: .5rem
  background-color: $brand-color
  color: white
  // doodling
  padding:     1rem 0
  font-size:   .75rem
  line-height: 1
  position: absolute
  width: 100%

.page-wrap
  max-width: 1200px
  margin: auto
  padding: 0 1.5rem

.section
  padding: 3rem 0rem

.section--landing
  background: $brand-color
  color: white
  padding: 3.75rem 0rem 3rem 0

.hero__slogan
  margin: 0

.enviroment__list
  position: relative

  h4
    margin-bottom: .5rem
    line-height: 1

  p
    font-size: 14px

  // &:after
  //   content: ''
  //   width: 2px
  //   background: rgba(0, 0, 0, 0.03)
  //   position: absolute
  //   left: -15.6px
  //   top: 16px
  //   bottom: 177px

  li
    position: relative
    list-style: none
    &:before
      content: ""
      width: 8px
      background: currentcolor
      position: absolute
      left: -16px
      top: 0px
      height: 8px
      border-radius: 100%
      box-shadow: 5px 8px, -5px 8px
      color: rgb(144, 144, 144)
